In [2]:
import pandas as pd

In [3]:
수문=pd.read_csv("../수문.csv")
수문["비고"]="수문"
암거=pd.read_csv("../암거.csv")
암거["비고"]="암거"
제방=pd.read_csv("../제방.csv")
제방["비고"]="제방"

FileNotFoundError: [Errno 2] No such file or directory: '../수문.csv'

일단 합치자

In [11]:
Data=pd.concat([수문,암거,제방])

In [15]:
수문.head(2)

,UFID,DIVI,QUAL,SCLS,FMTA,OBJECTID_1,OBJECTID,BASE_YEAR,ADM_CD,ADM_NM,Shape_Area,GU_CODE,GU_NAME,POP,비고
0,100037612004C006184642d37557b45df,SUD001,SUQ000,C0062241,S2117964,271,271.0,2016,1117068,오류2동,4.504714e+06,11530,구로구,49302,수문
1,100037709007C0061a755e376fd8e4145,SUD001,SUQ000,C0062241,S2117964,384,384.0,2016,1124055,마천1동,5.748087e+05,11710,송파구,21004,수문

In [16]:
제방.head(2)

,UFID,NAME,DIVI,QUAL,UDDI,LENG,HEIG,SCLS,FMTA,OBJECTID_1,OBJECTID,BASE_YEAR,ADM_CD,ADM_NM,Shape_Area,GU_CODE,GU_NAME,POP,비고
0,100037612019C00510cc2815b149a4d6c,NaN,BKD001,BKQ000,BKU001,0.0,0.0,C0052211,S2116667,333,333.0,2016,1121073,대학동,8.398949e+06,11620,관악구,24741,제방
1,100037612010C005185a5d1ae3d224ba9,NaN,BKD001,BKQ000,BKU001,0.0,0.0,C0052211,S2118611,347,347.0,2016,1122058,반포2동,1.394983e+06,11650,서초구,16424,제방

In [17]:
암거.head(2)

,UFID,SCLS,FMTA,OBJECTID_1,OBJECTID,BASE_YEAR,ADM_CD,ADM_NM,Shape_Area,GU_CODE,GU_NAME,POP,비고
0,100037612004C007135e124d8f9c94482,C0076116,S2111464,272,272.0,2016,1117069,수궁동,2.659440e+06,11530,구로구,25181,암거
1,100037612004C00710ec30fee091c4f4c,C0076116,S2111464,272,272.0,2016,1117069,수궁동,2.659440e+06,11530,구로구,25181,암거

In [28]:
Data.drop(["NAME","UDDI","LENG","HEIG"],axis=1,inplace=True)

In [37]:
제방암거수문개수=pd.DataFrame(Data.groupby(["GU_NAME","ADM_NM"])["비고"].value_counts())

In [39]:
제방암거수문개수.to_csv("제방암거수문개수.csv")

In [40]:
import pandas as pd

In [41]:
배수등급=pd.read_csv("../동별_인구_고도_배수등급_공시지가_결합.csv")

In [43]:
배수등급["SOILDRA"]

0          양호
1          양호
2          양호
3        약간양호
4          양호
         ...
96886      양호
96887      양호
96888      양호
96889      양호
96890      양호
Name: SOILDRA, Length: 96891, dtype: object

In [50]:
배수등급표=pd.DataFrame(배수등급.groupby(["GU_NAME","ADM_NM"])["SOILDRA"].value_counts())

In [62]:
전체count=pd.DataFrame(배수등급.groupby(["ADM_NM"])["SOILDRA"].count())

In [64]:
전체count

        SOILDRA
ADM_NM
가락1동        240
가락2동        114
가락본동        125
가리봉동        109
가산동         449
...         ...
효창동         104
후암동         178
휘경1동         69
휘경2동        173
흑석동         257

[419 rows x 1 columns]

In [67]:
배수등급비율=pd.merge(배수등급표.reset_index(),전체count,left_on="ADM_NM",right_on="ADM_NM",how="left")

In [73]:
idx1=배수등급비율["SOILDRA_x"]=="양호"
idx2=배수등급비율["SOILDRA_x"]=="매우양호"
idx3=배수등급비율["SOILDRA_x"]=="약간양호"

In [78]:
양호count=pd.DataFrame(배수등급비율[idx1|idx2|idx3].groupby(["ADM_NM"])["count"].sum())

In [84]:
양호count

        count
ADM_NM
가락1동      157
가락2동       96
가락본동       85
가리봉동       75
가산동       274
...       ...
효창동       102
후암동       178
휘경1동       28
휘경2동       52
흑석동       115

[417 rows x 1 columns]

In [86]:
merge_비율=pd.merge(양호count,전체count,left_index=True,right_index=True)

In [88]:
merge_비율["양호비율"]=merge_비율["count"]/merge_비율["SOILDRA"]

In [98]:
merge_비율.reset_index()

    ADM_NM  count  SOILDRA      양호비율
0     가락1동    157      240  0.654167
1     가락2동     96      114  0.842105
2     가락본동     85      125  0.680000
3     가리봉동     75      109  0.688073
4      가산동    274      449  0.610245
..     ...    ...      ...       ...
412    효창동    102      104  0.980769
413    후암동    178      178  1.000000
414   휘경1동     28       69  0.405797
415   휘경2동     52      173  0.300578
416    흑석동    115      257  0.447471

[417 rows x 4 columns]

In [102]:
배수등급표.reset_index()

     GU_NAME ADM_NM SOILDRA  count
0        강남구   개포1동      양호    116
1        강남구   개포1동    매우양호     41
2        강남구   개포1동    약간불량     34
3        강남구   개포1동    매우불량     32
4        강남구   개포1동    약간양호     13
...      ...    ...     ...    ...
1569     중랑구   중화2동    약간불량    145
1570     중랑구   중화2동      양호     31
1571     중랑구   중화2동      기타     26
1572     중랑구   중화2동    약간양호     15
1573     중랑구   중화2동      불량     15

[1574 rows x 4 columns]

In [104]:
test_df=pd.merge(merge_비율.reset_index(),배수등급표.reset_index()[["ADM_NM","GU_NAME"]],how="inner")

In [107]:
test_df=test_df.drop_duplicates(["ADM_NM"])

In [113]:
test_df.set_index(["GU_NAME","ADM_NM"]).rename(columns={'count':"양호개수","SOILDRA":"배수전체개수"})

                양호개수  배수전체개수      양호비율
GU_NAME ADM_NM
송파구     가락1동     157     240  0.654167
        가락2동      96     114  0.842105
        가락본동      85     125  0.680000
구로구     가리봉동      75     109  0.688073
금천구     가산동      274     449  0.610245
...              ...     ...       ...
용산구     효창동      102     104  0.980769
        후암동      178     178  1.000000
동대문구    휘경1동      28      69  0.405797
        휘경2동      52     173  0.300578
동작구     흑석동      115     257  0.447471

[417 rows x 3 columns]

: