독립적인 column 들의 쌍
===============

In [2]:
# 서열척도
col1=[('(가)건강 만족도', '(다)주거 환경 만족도'), ('(나)가족의 수입 만족도', '교육수준'),
       ('(다)주거 환경 만족도', '교육수준'), ('(라)가족관계 만족도', '교육수준'),
       ('(마)직업 만족도', '교육수준'), ('(바)사회적 친분관계 만족도', '교육수준'),
       ('(사)여가생활 만족도', '교육수준')]
# 카이제곱
col2=[['(다)주거 환경 만족도', '교육수준'],['(다)주거 환경 만족도', '종교'],
       ['(다)주거 환경 만족도', '만성질환'],['(다)주거 환경 만족도', '근로유형']]
# 범주~연속형(anova)
col3=[['(나)가족의 수입 만족도', '방수'],['(다)주거 환경 만족도', '연령'],
       ['(마)직업 만족도', '방수'],['(바)사회적 친분관계 만족도', '방수'],
       ['(사)여가생활 만족도', '방수']]
# 연속형~연속형(regression)
col4=[['방수','연령'],['연령','주거면적'],['총생활비','방수'],['주거면적','총생활비'],['총생활비','주거면적']]
c1=list(sum(list(map(list,col1)),[]))
c1.extend(list(set(sum(list(map(list,col2)),[]))))
c2=list(sum(list(map(list,col3)),[]))
c3=list(sum(list(map(list,col4)),[]))

## 우선순위 매기기

In [3]:
import statsmodels.formula.api as sf
import statsmodels.api as sm
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [4]:
D=pd.read_excel("../02_데이터검정/카테고리_소분류완료.xlsx",usecols=list(set(c1+c2+c3))+["삶의 사다리 점수"])
data=pd.DataFrame(D)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
train_x,test_x,train_y,test_y=train_test_split(data[data.columns.difference(["삶의 사다리 점수"])],data["삶의 사다리 점수"],train_size=0.8,stratify=data["삶의 사다리 점수"],random_state=10)

In [7]:
train_x

,(가)건강 만족도,(나)가족의 수입 만족도,(다)주거 환경 만족도,(라)가족관계 만족도,(마)직업 만족도,(바)사회적 친분관계 만족도,(사)여가생활 만족도,교육수준,근로유형,만성질환,방수,연령,종교,주거면적,총생활비
972,4,3,4,4,3,3,2,5,2,0,3,57,0,82,677
1249,1,1,4,3,3,3,3,5,4,1,3,45,0,99,158
1307,3,3,4,4,4,3,3,2,4,1,2,88,0,59,54
1562,2,4,4,4,2,4,2,3,2,1,3,60,0,99,197
2069,2,2,3,3,3,3,3,3,1,1,3,84,0,89,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,2,2,2,4,3,3,3,3,1,1,3,83,0,82,64
2732,2,3,4,4,3,3,3,3,4,1,3,87,0,59,99
2506,4,4,4,4,4,4,4,3,1,1,2,83,0,79,63
1244,3,3,4,5,4,4,4,3,1,1,3,88,0,99,82
1299,3,4,4,4,3,3,3,2,2,1,3,83,0,82,108

In [8]:
train_y

972     6
1249    3
1307    5
1562    7
2069    5
       ..
1243    5
2732    6
2506    8
1244    5
1299    8
Name: 삶의 사다리 점수, Length: 2667, dtype: int64

In [10]:
pd.merge(train_x,train_y,right_index=True,left_index=True).to_excel("./훈련용데이터.xlsx")