In [1]:
import pandas as pd
import os
file_names=[x for x in os.listdir("./") if "csv" in x]
file_names=[x for x in file_names if "위경도" not in x]

In [2]:
data_set={}
for file in file_names:
    data_set[file]=pd.read_csv(f"./{file}")

In [3]:
file_names

['동별_인구_고도_배수등급_공시지가_결합.csv',
 '수문.csv',
 '실폭하천.csv',
 '암거.csv',
 '자원공원용도지구.csv',
 '재해위험지구_경계도.csv',
 '제방.csv',
 '침수흔적도.csv']

## 데이터 Nan값

### 1. 동별 인구 고도 배수등급

In [4]:
data_set[file_names[0]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96891 entries, 0 to 96890
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   field_1                96891 non-null  int64
 1   AREA                   96891 non-null  float64
 2   PERIMETER              96891 non-null  float64
 3   ELEVATION              96891 non-null  float64
 4   AREA_2                 96891 non-null  float64
 5   PERIMETER_2            96891 non-null  float64
 6   CODE_DC                96891 non-null  float64
 7   SOILDRA                96891 non-null  object
 8   OBJECTID_1             96891 non-null  int64
 9   OBJECTID               96891 non-null  float64
 10  BASE_YEAR              96891 non-null  int64
 11  ADM_CD                 96891 non-null  int64
 12  ADM_NM                 96891 non-null  object
 13  Shape_Area             96891 non-null  float64
 14  GU_CODE                96891 non-null  int64
 15  GU_NAME                96891 non-null  object
 16  POP                    96891 non-null  int64
 17  공시지가_2019평균_공시지가(원/㎡)  29142 non-null  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 13.3+ MB

공시지가 2019년 평균

In [5]:
data_1=data_set[file_names[0]]

In [6]:
ADM_NA=set(data_1[data_1["공시지가_2019평균_공시지가(원/㎡)"].isna()]["ADM_NM"].unique()) #NAN값 행정동명
ADM_2017=set(pd.read_excel("./공시지가_2017평균.xlsx")["법정동명"].unique()) #각 년도별 공시지가를 가진 행정동명
ADM_2018=set(pd.read_excel("./공시지가_2018평균.xlsx")["법정동명"].unique())

Na 공시지가 지역, 2017,2018, 처리하고 난 후의 행정동명 개수 변화

In [7]:
print(len(ADM_NA),len(ADM_2017),len(ADM_2018),len((ADM_NA-ADM_2017)-ADM_2018))

331 465 465 331

* 공시지가 NA값을 그대로 둔채 일단 진행

## 비고 추가

In [8]:
for i in range(len(file_names)):
    data_set[file_names[i]]["비고"]=file_names[i]

---------

In [32]:
check=list(data_set[file_names[0]]["ADM_NM"].unique())

### 2. 수문

In [10]:
data_set[file_names[1]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851 entries, 0 to 850
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UFID        851 non-null    object
 1   DIVI        851 non-null    object
 2   QUAL        851 non-null    object
 3   SCLS        851 non-null    object
 4   FMTA        851 non-null    object
 5   OBJECTID_1  851 non-null    int64
 6   OBJECTID    851 non-null    float64
 7   BASE_YEAR   851 non-null    int64
 8   ADM_CD      851 non-null    int64
 9   ADM_NM      851 non-null    object
 10  Shape_Area  851 non-null    float64
 11  GU_CODE     851 non-null    int64
 12  GU_NAME     851 non-null    object
 13  POP         851 non-null    int64
 14  비고          851 non-null    object
dtypes: float64(2), int64(5), object(8)
memory usage: 99.9+ KB

- NAN 값 없음

In [11]:
data_set[file_names[1]]["비고"]=file_names[1]

In [12]:
data_set[file_names[1]].head(3)

,UFID,DIVI,QUAL,SCLS,FMTA,OBJECTID_1,OBJECTID,BASE_YEAR,ADM_CD,ADM_NM,Shape_Area,GU_CODE,GU_NAME,POP,비고
0,100037612004C006184642d37557b45df,SUD001,SUQ000,C0062241,S2117964,271,271.0,2016,1117068,오류2동,4.504714e+06,11530,구로구,49302,수문.csv
1,100037709007C0061a755e376fd8e4145,SUD001,SUQ000,C0062241,S2117964,384,384.0,2016,1124055,마천1동,5.748087e+05,11710,송파구,21004,수문.csv
2,100037709015C0061b5ec725f7ec74170,SUD001,SUQ000,C0062241,S2117964,375,375.0,2016,1123076,세곡동,6.362857e+06,11680,강남구,45180,수문.csv

### 3. 실폭하천

In [13]:
data_set[file_names[2]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UFID        460 non-null    object
 1   SCLS        460 non-null    object
 2   FMTA        460 non-null    object
 3   OBJECTID_1  460 non-null    int64
 4   OBJECTID    460 non-null    float64
 5   BASE_YEAR   460 non-null    int64
 6   ADM_CD      460 non-null    int64
 7   ADM_NM      460 non-null    object
 8   Shape_Area  460 non-null    float64
 9   GU_CODE     460 non-null    int64
 10  GU_NAME     460 non-null    object
 11  POP         460 non-null    int64
 12  비고          460 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 46.8+ KB

- NAN 값 없음

In [14]:
data_set[file_names[2]].head(3)

,UFID,SCLS,FMTA,OBJECTID_1,OBJECTID,BASE_YEAR,ADM_CD,ADM_NM,Shape_Area,GU_CODE,GU_NAME,POP,비고
0,100037612007E00312875890709eb4d6a,E0032111,S2115489,263,263.0,2016,1117054,구로3동,1.039352e+06,11530,구로구,26579,실폭하천.csv
1,100037612007E00312875890709eb4d6a,E0032111,S2115489,264,264.0,2016,1117055,구로4동,5.241234e+05,11530,구로구,26721,실폭하천.csv
2,100037612007E00312875890709eb4d6a,E0032111,S2115489,265,265.0,2016,1117056,구로5동,1.011733e+06,11530,구로구,33800,실폭하천.csv

### 4. 암거

In [15]:
data_set[file_names[3]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23333 entries, 0 to 23332
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UFID        23333 non-null  object
 1   SCLS        23333 non-null  object
 2   FMTA        23333 non-null  object
 3   OBJECTID_1  23333 non-null  int64
 4   OBJECTID    23333 non-null  float64
 5   BASE_YEAR   23333 non-null  int64
 6   ADM_CD      23333 non-null  int64
 7   ADM_NM      23333 non-null  object
 8   Shape_Area  23333 non-null  float64
 9   GU_CODE     23333 non-null  int64
 10  GU_NAME     23333 non-null  object
 11  POP         23333 non-null  int64
 12  비고          23333 non-null  object
dtypes: float64(2), int64(5), object(6)
memory usage: 2.3+ MB

- NAN값 없음

### 5. 자원공원용지구

In [16]:
data_set[file_names[4]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ALIAS       24 non-null     object
 1   REMARK      3 non-null      object
 2   NTFDATE     0 non-null      float64
 3   SGG_OID     105 non-null    int64
 4   COL_ADM_SE  105 non-null    int64
 5   MNUM        105 non-null    object
 6   OBJECTID_1  105 non-null    int64
 7   OBJECTID    105 non-null    float64
 8   BASE_YEAR   105 non-null    int64
 9   ADM_CD      105 non-null    int64
 10  ADM_NM      105 non-null    object
 11  Shape_Area  105 non-null    float64
 12  GU_CODE     105 non-null    int64
 13  GU_NAME     105 non-null    object
 14  POP         105 non-null    int64
 15  비고          105 non-null    object
dtypes: float64(3), int64(7), object(6)
memory usage: 13.3+ KB

In [17]:
data_set[file_names[4]]

,ALIAS,REMARK,NTFDATE,SGG_OID,COL_ADM_SE,MNUM,OBJECTID_1,OBJECTID,BASE_YEAR,ADM_CD,ADM_NM,Shape_Area,GU_CODE,GU_NAME,POP,비고
0,NaN,NaN,NaN,65,11110,14800001111020120001UMB2000001001,4,4.0,2016,1101056,평창동,8.941185e+06,11110,종로구,18820,자원공원용도지구.csv
1,NaN,NaN,NaN,65,11110,14800001111020120001UMB2000001001,117,117.0,2016,1108064,정릉3동,3.324280e+06,11290,성북구,17310,자원공원용도지구.csv
2,NaN,NaN,NaN,49,11110,14800001111020110002UMB2000001001,4,4.0,2016,1101056,평창동,8.941185e+06,11110,종로구,18820,자원공원용도지구.csv
3,NaN,NaN,NaN,50,11110,14800001111020110003UMB2000001001,4,4.0,2016,1101056,평창동,8.941185e+06,11110,종로구,18820,자원공원용도지구.csv
4,NaN,NaN,NaN,51,11110,14800001111020110004UMB2000001001,3,3.0,2016,1101055,부암동,2.272862e+06,11110,종로구,10477,자원공원용도지구.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,자연보존지구,NaN,NaN,357,11410,14800001141020090107UMB1000023000,197,197.0,2016,1113066,홍은1동,1.613943e+06,11410,서대문구,22981,자원공원용도지구.csv
101,자연보존지구,NaN,NaN,358,11410,14800001141020090107UMB1000024000,197,197.0,2016,1113066,홍은1동,1.613943e+06,11410,서대문구,22981,자원공원용도지구.csv
102,NaN,NaN,NaN,359,11410,14800001141020110193UMB2000001001,3,3.0,2016,1101055,부암동,2.272862e+06,11110,종로구,10477,자원공원용도지구.csv
103,NaN,NaN,NaN,359,11410,14800001141020110193UMB2000001001,195,195.0,2016,1113064,홍제3동,1.191623e+06,11410,서대문구,16538,자원공원용도지구.csv
104,NaN,NaN,NaN,359,11410,14800001141020110193UMB2000001001,197,197.0,2016,1113066,홍은1동,1.613943e+06,11410,서대문구,22981,자원공원용도지구.csv

이건 당연히 NAN값이 있을수밖에..

### 6. 재해위험지구 경계

In [18]:
data_set[file_names[5]]

,MNUM,ALIAS,REMARK,NTFDATE,SHAPE_AREA,SHAPE_LEN,OBJECTID_1,OBJECTID,BASE_YEAR,ADM_CD,ADM_NM,Shape_Area_2,GU_CODE,GU_NAME,POP,비고
0,30000001111020120001UPB2000001001,NaN,NaN,NaN,3.227360e+03,250.597391,3,3.0,2016,1101055,부암동,2.272862e+06,11110,종로구,10477,재해위험지구_경계도.csv
1,30200001117020110013UPB2100001005,NaN,NaN,NaN,1.805315e+05,7381.984630,35,35.0,2016,1103053,남영동,1.176909e+06,11170,용산구,8472,재해위험지구_경계도.csv
2,30200001117020110013UPB2100001005,NaN,NaN,NaN,1.805315e+05,7381.984630,39,39.0,2016,1103063,이촌1동,2.870622e+06,11170,용산구,29215,재해위험지구_경계도.csv
3,30200001117020110013UPB2100001005,NaN,NaN,NaN,1.805315e+05,7381.984630,40,40.0,2016,1103064,이촌2동,1.204648e+06,11170,용산구,9045,재해위험지구_경계도.csv
4,30200001117020110013UPB2100001005,NaN,NaN,NaN,1.805315e+05,7381.984630,47,47.0,2016,1103073,한강로동,2.868140e+06,11170,용산구,19382,재해위험지구_경계도.csv
5,31400001147020110000UPB2100002001,NaN,NaN,NaN,9.966881e+03,879.041681,223,223.0,2016,1115051,목1동,1.432068e+06,11470,양천구,32163,재해위험지구_경계도.csv
6,31400001147020110000UPB2100002001,NaN,NaN,NaN,9.966881e+03,879.041681,240,240.0,2016,1115072,신정4동,9.964211e+05,11470,양천구,35893,재해위험지구_경계도.csv
7,31400001147020110000UPB2100001001,NaN,NaN,NaN,1.335794e+05,14042.080830,227,227.0,2016,1115057,신월1동,6.219516e+05,11470,양천구,22087,재해위험지구_경계도.csv
8,31400001147020110000UPB2100001001,NaN,NaN,NaN,1.335794e+05,14042.080830,228,228.0,2016,1115058,신월2동,6.063732e+05,11470,양천구,22626,재해위험지구_경계도.csv
9,31400001147020110000UPB2100001001,NaN,NaN,NaN,1.335794e+05,14042.080830,230,230.0,2016,1115060,신월4동,4.695346e+05,11470,양천구,19121,재해위험지구_경계도.csv
10,31400001147020110000UPB2100001001,NaN,NaN,NaN,1.335794e+05,14042.080830,231,231.0,2016,1115061,신월5동,6.378436e+05,11470,양천구,15600,재해위험지구_경계도.csv
11,31400001147020110000UPB2100001001,NaN,NaN,NaN,1.335794e+05,14042.080830,234,234.0,2016,1115064,신정1동,7.470264e+05,11470,양천구,21545,재해위험지구_경계도.csv
12,31400001147020110000UPB2100001001,NaN,NaN,NaN,1.335794e+05,14042.080830,238,238.0,2016,1115070,신정7동,1.233235e+06,11470,양천구,30825,재해위험지구_경계도.csv
13,31400001147020110000UPB2100001001,NaN,NaN,NaN,1.335794e+05,14042.080830,240,240.0,2016,1115072,신정4동,9.964211e+05,11470,양천구,35893,재해위험지구_경계도.csv
14,31400001147020110000UPB2100001001,NaN,NaN,NaN,1.335794e+05,14042.080830,259,259.0,2016,1116073,화곡1동,1.196882e+06,11500,강서구,54801,재해위험지구_경계도.csv
15,31400001147020110000UPB2100003001,NaN,NaN,NaN,9.151347e+03,491.269524,227,227.0,2016,1115057,신월1동,6.219516e+05,11470,양천구,22087,재해위험지구_경계도.csv
16,31400001147020110000UPB2100003001,NaN,NaN,NaN,9.151347e+03,491.269524,230,230.0,2016,1115060,신월4동,4.695346e+05,11470,양천구,19121,재해위험지구_경계도.csv
17,31400001147020110000UPB2100004001,NaN,NaN,NaN,9.421558e+03,450.730528,230,230.0,2016,1115060,신월4동,4.695346e+05,11470,양천구,19121,재해위험지구_경계도.csv
18,31500001150020110014UPB2000418001,화곡1지구,NaN,NaN,7.234843e+04,2877.612866,242,242.0,2016,1116052,등촌1동,6.502693e+05,11500,강서구,23595,재해위험지구_경계도.csv
19,31500001150020110014UPB2000418001,화곡1지구,NaN,NaN,7.234843e+04,2877.612866,244,244.0,2016,1116054,등촌3동,1.059597e+06,11500,강서구,32929,재해위험지구_경계도.csv
20,31500001150020110014UPB2000418001,화곡1지구,NaN,NaN,7.234843e+04,2877.612866,249,249.0,2016,1116061,화곡6동,1.037161e+06,11500,강서구,25067,재해위험지구_경계도.csv
21,31500001150020110014UPB2000418002,화곡1지구,NaN,NaN,2.962831e+04,3071.819032,241,241.0,2016,1116051,염창동,1.731596e+06,11500,강서구,42025,재해위험지구_경계도.csv
22,31500001150020110014UPB2000418002,화곡1지구,NaN,NaN,2.962831e+04,3071.819032,242,242.0,2016,1116052,등촌1동,6.502693e+05,11500,강서구,23595,재해위험지구_경계도.csv
23,31500001150020110014UPB2000418002,화곡1지구,NaN,NaN,2.962831e+04,3071.819032,252,252.0,2016,1116065,가양2동,8.232780e+05,11500,강서구,15413,재해위험지구_경계도.csv
24,31500001150020110014UPB2000418002,화곡1지구,NaN,NaN,2.962831e+04,3071.819032,253,253.0,2016,1116066,가양3동,4.738838e+05,11500,강서구,16445,재해위험지구_경계도.csv
25,31500001150020110014UPB2000418003,화곡1지구,NaN,NaN,9.775282e+02,135.613278,249,249.0,2016,1116061,화곡6동,1.037161e+06,11500,강서구,25067,재해위험지구_경계도.csv
26,31500001150020110014UPB2000418004,화곡1지구,NaN,NaN,7.766612e+03,355.485577,245,245.0,2016,1116055,화곡본동,9.717993e+05,11500,강서구,36127,재해위험지구_경계도.csv
27,31500001150020110014UPB2000418006,화곡2지구,NaN,NaN,1.608042e+03,164.318976,259,259.0,2016,1116073,화곡1동,1.196882e+06,11500,강서구,54801,재해위험지구_경계도.csv
28,31500001150020110014UPB2000418005,화곡2지구,NaN,NaN,9.506330e+04,10370.082011,227,227.0,2016,1115057,신월1동,6.219516e+05,11470,양천구,22087,재해위험지구_경계도.csv
29,31500001150020110014UPB2000418005,화곡2지구,NaN,NaN,9.506330e+04,10370.082011,246,246.0,2016,1116057,화곡2동,4.542917e+05,11500,강서구,19795,재해위험지구_경계도.csv
30,31500001150020110014UPB2000418005,화곡2지구,NaN,NaN,9.506330e+04,10370.082011,248,248.0,2016,1116059,화곡4동,8.514962e+05,11500,강서구,22297,재해위험지구_경계도.csv
31,31500001150020110014UPB2000418005,화곡2지구,NaN,NaN,9.506330e+04,10370.082011,250,250.0,2016,1116063,화곡8동,5.930614e+05,11500,강서구,26798,재해위험지구_경계도.csv
32,31500001150020110014UPB2000418005,화곡2지구,NaN,NaN,9.506330e+04,10370.082011,259,259.0,2016,1116073,화곡1동,1.196882e+06,11500,강서구,54801,재해위험지구_경계도.csv
33,32100001165020110006UPB2000002017,NaN,NaN,NaN,2.560025e+04,1740.871855,352,352.0,2016,1122063,방배2동,1.902604e+06,11650,서초구,21342,재해위험지구_경계도.csv
34,32100001165020110049UPB2000010006,NaN,NaN,NaN,3.619197e+06,24887.032910,340,340.0,2016,1122051,서초1동,1.381640e+06,11650,서초구,21546,재해위험지구_경계도.csv
35,32100001165020110049UPB2000010006,NaN,NaN,NaN,3.619197e+06,24887.032910,342,342.0,2016,1122053,서초3동,2.996312e+06,11650,서초구,30903,재해위험지구_경계도.csv
36,32100001165020110049UPB2000010006,NaN,NaN,NaN,3.619197e+06,24887.032910,352,352.0,2016,1122063,방배2동,1.902604e+06,11650,서초구,21342,재해위험지구_경계도.csv
37,32100001165020110049UPB2000010006,NaN,NaN,NaN,3.619197e+06,24887.032910,353,353.0,2016,1122064,방배3동,2.373349e+06,11650,서초구,22578,재해위험지구_경계도.csv
38,32100001165020110049UPB2000010006,NaN,NaN,NaN,3.619197e+06,24887.032910,355,355.0,2016,1122066,양재1동,5.761000e+06,11650,서초구,46231,재해위험지구_경계도.csv
39,32100001165020120001UPB2000001005,NaN,NaN,NaN,2.592660e+05,7067.799511,341,341.0,2016,1122052,서초2동,1.229992e+06,11650,서초구,18574,재해위험지구_경계도.csv
40,32100001165020120001UPB2000001005,NaN,NaN,NaN,2.592660e+05,7067.799511,355,355.0,2016,1122066,양재1동,5.761000e+06,11650,서초구,46231,재해위험지구_경계도.csv
41,15000001168020000000UPB9990000002,NaN,NaN,NaN,4.088550e+03,273.581670,361,361.0,2016,1123058,삼성1동,1.943144e+06,11680,강남구,15058,재해위험지구_경계도.csv

### 7. 제방

In [19]:
data_set[file_names[6]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7457 entries, 0 to 7456
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UFID        7457 non-null   object
 1   NAME        0 non-null      float64
 2   DIVI        7457 non-null   object
 3   QUAL        7457 non-null   object
 4   UDDI        7457 non-null   object
 5   LENG        7457 non-null   float64
 6   HEIG        7457 non-null   float64
 7   SCLS        7457 non-null   object
 8   FMTA        7457 non-null   object
 9   OBJECTID_1  7457 non-null   int64
 10  OBJECTID    7457 non-null   float64
 11  BASE_YEAR   7457 non-null   int64
 12  ADM_CD      7457 non-null   int64
 13  ADM_NM      7457 non-null   object
 14  Shape_Area  7457 non-null   float64
 15  GU_CODE     7457 non-null   int64
 16  GU_NAME     7457 non-null   object
 17  POP         7457 non-null   int64
 18  비고          7457 non-null   object
dtypes: float64(5), int64(5), object(9)
memory usage: 1.1+ MB

### 8. 침수흔적도

In [20]:
data_set[file_names[7]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8887 entries, 0 to 8886
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    5075 non-null   float64
 1   GU_NAM      8887 non-null   object
 2   F_SHIM      8887 non-null   float64
 3   F_DISA_NM   8887 non-null   object
 4   F_AVR_HGT   8887 non-null   float64
 5   F_AREA      8887 non-null   float64
 6   ADM_CD      8887 non-null   int64
 7   F_SAT_YMD   8887 non-null   object
 8   F_END_YMD   8887 non-null   object
 9   F_SAT_TM    8887 non-null   int64
 10  F_END_TM    8887 non-null   int64
 11  F_RSN_DTL   8887 non-null   object
 12  F_ZONE_NM   8887 non-null   object
 13  INV_YR      8887 non-null   int64
 14  F_YR        8887 non-null   int64
 15  TYPE        8887 non-null   object
 16  OBJECTID_1  8887 non-null   int64
 17  OBJECTID_2  8887 non-null   float64
 18  BASE_YEAR   8887 non-null   int64
 19  ADM_CD_2    8887 non-null   int64
 20  ADM_NM      8887 non-null   object
 21  Shape_Area  8887 non-null   float64
 22  GU_CODE     8887 non-null   int64
 23  GU_NAME     8887 non-null   object
 24  POP         8887 non-null   int64
 25  비고          8887 non-null   object
dtypes: float64(6), int64(10), object(10)
memory usage: 1.8+ MB

In [55]:
data_set[file_names[7]]

,OBJECTID,GU_NAM,F_SHIM,F_DISA_NM,F_AVR_HGT,F_AREA,ADM_CD,F_SAT_YMD,F_END_YMD,F_SAT_TM,...,OBJECTID_1,OBJECTID_2,BASE_YEAR,ADM_CD_2,ADM_NM,Shape_Area,GU_CODE,GU_NAME,POP,비고
0,275.0,강북구,0.02,2022년 8.8 ~17. 호우,114.53,3876.00,1130510400,20220808,20220808,18,...,142,142.0,2016,1109074,우이동,1.058302e+07,11305,강북구,21497,침수흔적도.csv
1,223.0,강북구,0.02,2022년 8.8 ~17. 호우,118.05,2188.00,1130510400,20220808,20220808,18,...,142,142.0,2016,1109074,우이동,1.058302e+07,11305,강북구,21497,침수흔적도.csv
2,246.0,강북구,0.02,2022년 8.8 ~17. 호우,129.55,45287.00,1130510400,20220808,20220808,18,...,142,142.0,2016,1109074,우이동,1.058302e+07,11305,강북구,21497,침수흔적도.csv
3,4253.0,영등포구,0.30,2022년 8.8 ~17. 호우,10.18,53.00,1156010400,20220808,20220810,20,...,301,301.0,2016,1119074,영등포동,1.371591e+06,11560,영등포구,26964,침수흔적도.csv
4,301.0,강북구,0.02,2022년 8.8 ~17. 호우,75.48,105.00,1130510100,20220808,20220808,18,...,139,139.0,2016,1109071,송중동,1.075003e+06,11305,강북구,29106,침수흔적도.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8882,42.0,용산구,0.10,2022년 8.8 ~17. 호우,14.38,151.71,1117013100,20220808,20220809,21,...,45,45.0,2016,1103071,청파동,8.855684e+05,11170,용산구,20834,침수흔적도.csv
8883,59.0,용산구,0.10,2022년 8.8 ~17. 호우,56.60,74.09,1117010800,20220808,20220809,21,...,48,48.0,2016,1103074,한남동,3.029615e+06,11170,용산구,23663,침수흔적도.csv
8884,45.0,용산구,0.10,2022년 8.8 ~17. 호우,17.31,190.53,1117011300,20220808,20220809,21,...,36,36.0,2016,1103057,원효로2동,7.086393e+05,11170,용산구,14847,침수흔적도.csv
8885,116.0,성북구,0.10,2022년 8.8 ~17. 호우,84.05,33.97,1129010300,20220808,20220810,19,...,128,128.0,2016,1108083,동선동,7.244096e+05,11290,성북구,16368,침수흔적도.csv
8886,617.0,서대문구,0.10,2022년 8.8 ~17. 호우,13.74,161.86,1141011900,20220809,20220809,15,...,202,202.0,2016,1113072,북가좌2동,8.242601e+05,11410,서대문구,34134,침수흔적도.csv

--------

# 데이터 Merge
> 비고  : 원본 data 파일명을 넣어놔야 안헷갈릴 듯

## 1. 좌표 : MUNM

In [21]:
mnum_datas=pd.concat([data_set[file_names[4]],data_set[file_names[5]]])

In [23]:
mnum_datas.to_csv("./mnum_data.csv")

위도경도로 바꾸는 API 찾아서 처리해야함

## 2. 좌표 : UFID
2347

In [24]:
ufid_datas=pd.concat([data_set[file_names[1]],data_set[file_names[2]]
                      ,data_set[file_names[3]],data_set[file_names[6]]])

In [25]:
ufid_datas.to_csv("./ufid_data.csv")

## 위경도

In [26]:
'F_ZONE_NM'

'F_ZONE_NM'

In [27]:
data_set[file_names[7]]

,OBJECTID,GU_NAM,F_SHIM,F_DISA_NM,F_AVR_HGT,F_AREA,ADM_CD,F_SAT_YMD,F_END_YMD,F_SAT_TM,...,OBJECTID_1,OBJECTID_2,BASE_YEAR,ADM_CD_2,ADM_NM,Shape_Area,GU_CODE,GU_NAME,POP,비고
0,275.0,강북구,0.02,2022년 8.8 ~17. 호우,114.53,3876.00,1130510400,20220808,20220808,18,...,142,142.0,2016,1109074,우이동,1.058302e+07,11305,강북구,21497,침수흔적도.csv
1,223.0,강북구,0.02,2022년 8.8 ~17. 호우,118.05,2188.00,1130510400,20220808,20220808,18,...,142,142.0,2016,1109074,우이동,1.058302e+07,11305,강북구,21497,침수흔적도.csv
2,246.0,강북구,0.02,2022년 8.8 ~17. 호우,129.55,45287.00,1130510400,20220808,20220808,18,...,142,142.0,2016,1109074,우이동,1.058302e+07,11305,강북구,21497,침수흔적도.csv
3,4253.0,영등포구,0.30,2022년 8.8 ~17. 호우,10.18,53.00,1156010400,20220808,20220810,20,...,301,301.0,2016,1119074,영등포동,1.371591e+06,11560,영등포구,26964,침수흔적도.csv
4,301.0,강북구,0.02,2022년 8.8 ~17. 호우,75.48,105.00,1130510100,20220808,20220808,18,...,139,139.0,2016,1109071,송중동,1.075003e+06,11305,강북구,29106,침수흔적도.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8882,42.0,용산구,0.10,2022년 8.8 ~17. 호우,14.38,151.71,1117013100,20220808,20220809,21,...,45,45.0,2016,1103071,청파동,8.855684e+05,11170,용산구,20834,침수흔적도.csv
8883,59.0,용산구,0.10,2022년 8.8 ~17. 호우,56.60,74.09,1117010800,20220808,20220809,21,...,48,48.0,2016,1103074,한남동,3.029615e+06,11170,용산구,23663,침수흔적도.csv
8884,45.0,용산구,0.10,2022년 8.8 ~17. 호우,17.31,190.53,1117011300,20220808,20220809,21,...,36,36.0,2016,1103057,원효로2동,7.086393e+05,11170,용산구,14847,침수흔적도.csv
8885,116.0,성북구,0.10,2022년 8.8 ~17. 호우,84.05,33.97,1129010300,20220808,20220810,19,...,128,128.0,2016,1108083,동선동,7.244096e+05,11290,성북구,16368,침수흔적도.csv
8886,617.0,서대문구,0.10,2022년 8.8 ~17. 호우,13.74,161.86,1141011900,20220809,20220809,15,...,202,202.0,2016,1113072,북가좌2동,8.242601e+05,11410,서대문구,34134,침수흔적도.csv

In [28]:
addrs_list=list(data_set[file_names[7]]["F_ZONE_NM"].values)

위경도를 좌표로 바꾸기

--------

카카오 API

In [63]:
import json
import requests as rq
def getAddr(addrs):
    REST_API_KEY='4fd65a1fc1d9de84fb9809d081f3fc8c'
    headers = {"Authorization": f"KakaoAK {REST_API_KEY}"}
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query='+addrs+"&analyze_type=exact"
    model=rq.get(url,headers=headers)
    if model.status_code!=200:
        return addrs
    else:
        return json.loads(str(rq.get(url,headers=headers).text))['documents']

첫번째 검색 결과가 정확하게 나오지 않을수있으니 확인요망            
아쉽지만 한번더 전처리 해야함

------

In [64]:
import tqdm
num_list=list(range(0,len(addrs_list),200))

In [65]:
pd.DataFrame(columns=["경도","위도","주소"]).to_csv("./위경도데이터.csv")

In [66]:
def makexy(i,j):
    with tqdm.tqdm(total=j-i,unit="B",unit_scale=True) as process_bar:
        for addrs in addrs_list[i:j]:
            temp=getAddr(addrs)
            try:
                xy_data=[{'경도':temp[0]["x"],"위도":temp[0]["x"],'주소':temp[0]['address_name']}]
                merge_data=pd.DataFrame(xy_data)
                merged_data=pd.read_csv("./위경도데이터.csv")
                add_xy_data=pd.concat([merged_data,merge_data])
                add_xy_data[["경도","위도","주소"]].to_csv("./위경도데이터.csv")
            except:
                continue
            process_bar.update(1)

In [71]:
makexy(8000,8860)

  0%|          | 0.00/860 [00:00<?, ?B/s]

In [70]:
pd.read_csv("./위경도데이터.csv")

      Unnamed: 0          경도          위도                   주소
0              0  127.006585  127.006585     서울 강북구 우이동 296-1
1              1  127.007293  127.007293     서울 강북구 우이동 299-2
2              2  127.006001  127.006001    서울 강북구 우이동 산 8-15
3              3  126.909863  126.909863  서울 영등포구 영등포동3가 13-7
4              4  127.033223  127.033223   서울 강북구 미아동 258-241
...          ...         ...         ...                  ...
6599        6599  126.952165  126.952165           서울 관악구 봉천동
6600        6600  126.927124  126.927124           서울 관악구 신림동
6601        6601  126.927124  126.927124           서울 관악구 신림동
6602        6602  126.927124  126.927124           서울 관악구 신림동
6603           0  126.952165  126.952165           서울 관악구 봉천동

[6604 rows x 4 columns]

In [ ]:
pd.read_csv("./위경도데이터.csv")

    Unnamed: 0          경도          위도                   주소
0            0  127.006585  127.006585     서울 강북구 우이동 296-1
1            1  127.007293  127.007293     서울 강북구 우이동 299-2
2            2  127.006001  127.006001    서울 강북구 우이동 산 8-15
3            3  126.909863  126.909863  서울 영등포구 영등포동3가 13-7
4            4  127.033223  127.033223   서울 강북구 미아동 258-241
..         ...         ...         ...                  ...
94          94  126.902842  126.902842  서울 영등포구 신길동 355-318
95          95  126.902824  126.902824  서울 영등포구 신길동 355-279
96          96  126.902842  126.902842  서울 영등포구 신길동 355-302
97          97  126.902547  126.902547  서울 영등포구 신길동 355-243
98           0  126.902423  126.902423  서울 영등포구 신길동 355-176

[99 rows x 4 columns]

In [ ]:
pd.read_csv("./위경도데이터.csv")

Empty DataFrame
Columns: [Unnamed: 0, 경도, 위도, 주소]
Index: []

----------임시-------------

In [ ]:
result={"success":[],"false":[]}
with tqdm.tqdm(total=200,unit="B",unit_scale=True) as process_bar:
    for addrs in addrs_list[:200]:
        temp=getAddr(addrs)
        if (result==addrs) or (result==[]):
            result["false"].append(addrs)
        else:
            result["success"].append(temp)
        process_bar.update(1)

100%|██████████| 200/200 [11:19<00:00, 3.40s/B]

In [ ]:
useful_datas=[{'경도':x[0]["x"],"위도":x[0]["x"],'주소':x[0]['address_name']} for x in result["success"] if x]
merge_data=pd.DataFrame(useful_datas)
merge_data["주소"]=merge_data["주소"].apply(lambda x: x.replace("서울","서울특별시"))

In [ ]:
add_xy_data=pd.merge(data_set[file_names[7]],merge_data,left_on='F_ZONE_NM',right_on="주소",how="left")

In [ ]:
add_xy_data.to_csv("./위경도_추가_데이터.csv")

왜 안되지...

In [ ]:
pd.DataFrame(columns=["경도","위도","주소"]).to_csv("./위경도데이터.csv")

In [ ]:
pd.read_csv("./위경도데이터.csv")

Empty DataFrame
Columns: [Unnamed: 0, 경도, 위도, 주소]
Index: []

In [ ]:
xy_data=getAddr("김포시태장로845")

In [ ]:
xy_data[0]["address_name"]

'경기 김포시 태장로 845'

In [ ]:
def need_funtion(i,j):
    result={"success":[],"false":[]}
    with tqdm.tqdm(total=j-i,unit="B",unit_scale=True) as process_bar:
        for addrs in addrs_list[i:j]:
            temp=getAddr(addrs)
            if (result==addrs) or (result==[]):
                result["false"].append(addrs)
            else:
                result["success"].append(temp)
            process_bar.update(1)
    useful_datas=[{'경도':x[0]["x"],"위도":x[0]["x"],'주소':x[0]['address_name']} for x in result["success"] if x]
    merge_data=pd.DataFrame(useful_datas)
    merge_data["주소"]=merge_data["주소"].apply(lambda x: x.replace("서울","서울특별시"))
    add_xy_data=pd.merge(pd.read_csv("./위경도_추가_데이터.csv"),merge_data,left_on='F_ZONE_NM',right_on="주소",how="left")
    add_xy_data.to_csv("./위경도_추가_데이터.csv")
    print(f'{i}~{j}까지 완료')

In [ ]:
need_funtion(200,400)

100%|██████████| 200/200 [10:35<00:00, 3.18s/B]

200~400까지 완료

In [ ]:
test=pd.read_csv("./위경도_추가_데이터.csv")

In [ ]:
test[200:400]

,Unnamed: 0.1,Unnamed: 0,OBJECTID,GU_NAM,F_SHIM,F_DISA_NM,F_AVR_HGT,F_AREA,ADM_CD,F_SAT_YMD,...,GU_CODE,GU_NAME,POP,비고,경도_x,위도_x,주소_x,경도_y,위도_y,주소_y
200,200,200,110.0,중랑구,0.01,2022년 9.3~7. 제11호 태풍 힌남노,19.0,55.88,1126010100,20220905,...,11260,중랑구,36405,침수흔적도.csv,NaN,NaN,NaN,NaN,NaN,NaN
201,201,201,103.0,중랑구,0.01,2022년 8.8 ~17. 호우,28.0,58.50,1126010100,20220815,...,11260,중랑구,26867,침수흔적도.csv,NaN,NaN,NaN,NaN,NaN,NaN
202,202,202,89.0,중랑구,0.02,2022년 8.8 ~17. 호우,15.0,145.16,1126010100,20220815,...,11260,중랑구,26260,침수흔적도.csv,NaN,NaN,NaN,NaN,NaN,NaN
203,203,203,97.0,중랑구,0.01,2022년 8.8 ~17. 호우,23.0,10.00,1126010100,20220823,...,11260,중랑구,36405,침수흔적도.csv,NaN,NaN,NaN,NaN,NaN,NaN
204,204,204,93.0,중랑구,0.01,2022년 8.8 ~17. 호우,17.0,10.00,1126010100,20220820,...,11260,중랑구,22054,침수흔적도.csv,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,393,4409.0,영등포구,0.30,2022년 8.8 ~17. 호우,10.8,41.54,1156013200,20220808,...,11560,영등포구,18743,침수흔적도.csv,NaN,NaN,NaN,NaN,NaN,NaN
396,396,394,4410.0,영등포구,0.30,2022년 8.8 ~17. 호우,10.8,91.22,1156013200,20220808,...,11560,영등포구,18743,침수흔적도.csv,NaN,NaN,NaN,NaN,NaN,NaN
397,397,395,1998.0,영등포구,0.30,2022년 8.8 ~17. 호우,10.8,92.46,1156013200,20220808,...,11560,영등포구,18743,침수흔적도.csv,NaN,NaN,NaN,126.904379,126.904379,서울특별시 영등포구 신길동 347-184
398,398,396,1999.0,영등포구,0.30,2022년 8.8 ~17. 호우,10.8,120.99,1156013200,20220808,...,11560,영등포구,18743,침수흔적도.csv,NaN,NaN,NaN,126.904175,126.904175,서울특별시 영등포구 신길동 347-280
399,399,397,2000.0,영등포구,0.30,2022년 8.8 ~17. 호우,10.8,129.65,1156013200,20220808,...,11560,영등포구,18743,침수흔적도.csv,NaN,NaN,NaN,126.903961,126.903961,서울특별시 영등포구 신길동 347-286

In [35]:
서울시=pd.read_csv(r"C:\Users\SAMSUNG\Desktop\서울시 읍면동마스터 정보.csv",encoding="euc-kr")

In [47]:
fact=set(서울시[서울시["시도_명칭"]=="서울"]["행정동_명칭"].unique())

In [51]:
fact-set(check)

{'금호2,3가동',
 '돈암1동',
 '돈암2동',
 '동선동',
 '면목3,8동',
 '상계3,4동',
 '상계6,7동',
 '정릉2동',
 '종로1,2,3,4가동',
 '종로5,6가동',
 '중계2,3동'}

In [52]:
set(check)-fact

{'금호2·3가동', '면목3·8동', '상계3·4동', '상계6·7동', '종로1·2·3·4가동', '종로5·6가동', '중계2·3동'}

In [53]:
len(check)

419

In [54]:
len(fact)

423